.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(32%, 1fr));
  grid-gap: 16px;
}

.cards > ul > li {
  background-color: var(--background-color);
  border-radius:24px 24px 24px 0;
  overflow:hidden;
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.ds-brand-block-navigation-cards {
  padding: 0 !important;
  margin-top: -100px;
}

.ds-brand-block-navigation-cards .cards > ul {
   grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
   grid-gap: 0;
}

.ds-brand-block-navigation-cards .cards > ul > li {
  background: #e1b77e;
  color: #3e3f41;
  border-radius: 0;
  position: relative;
}

.ds-brand-block-navigation-cards .cards > ul > li::before{
  background-image: linear-gradient(135deg, #1a8377, #05435e 100%);
  content: "";
  inset: 0;
  opacity: 0;
  position: absolute;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}
.ds-brand-block-navigation-cards .cards > ul > li:hover::before {
  opacity: 1;
}

.ds-brand-block-navigation-cards .cards .cards-card-body{
  z-index: 1;
  position: relative;
  margin: 0;
  padding: 24px;
}
.ds-brand-block-navigation-cards .cards .cards-card-body:empty {
  display: none;
}
.ds-brand-block-navigation-cards .cards .cards-card-body >div >p:first-child{
  color: #04424d;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: .0625em;
  line-height: 1.7;
  text-transform: uppercase;
}

.ds-brand-block-navigation-cards .cards .cards-card-body >div h2{
  color: #04424d;
  font-size: 22px;
  line-height: 1.5;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
  margin: 0;
}
.ds-brand-block-navigation-cards .cards .cards-card-body >div >p:last-child{
  font-size: 14px;
  line-height: 1.8;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
  color: #3e3f41;
}

@media (min-width: 1024px) {
    .ds-brand-block-navigation-cards .cards .cards-card-body >div >p:first-child{
      font-size:1pc;
      line-height: 1.5
    }
    .ds-brand-block-navigation-cards .cards .cards-card-body >div h2 {
      font-size:2pc
    }
    .ds-brand-block-navigation-cards .cards .cards-card-body >div >p:last-child{
      font-size:1pc;
      line-height: 1.5;
    }
}

.section.ds-brand-bg-dark .cards .cards-card-body {
  color: #000;
}
.ds-brand-block-navigation-cards .cards > ul > li:hover{
  color: #fff !important;
}
