.press-release-section {
    h2{
        font-size: 40px;
    line-height: 1.2;
    font-family: "Noto Serif", Arial, Helvetica, sans-serif;
    text-align: center;
    width: 100%;
    font-weight: 400;
    color: #054e5a;
    padding: 40px 0;
    }
    .custom-block {
        .post-card-grid {
            display: grid;
            gap: 24px;
            padding: 16px;
            @media (min-width: 768px){                
            padding: 24px;
            grid-template-columns: repeat(2, 1fr);
            }
        }

        .post-card {
            border: 1px solid #ddd;
            border-radius: 8px;
            padding: 16px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
            cursor: pointer;
            position: relative;
            background: rgb(243, 246, 247);
            display: flex;
            flex-direction: column;
            gap: 9pt;
        }

        .post-card-title {
            font-size: 24px;
            font-weight: 600;
            letter-spacing: -.02em;
            line-height: 1.33;
            margin: 0;
            color: #054e5a;
            order: 1;
            font-family: "Noto Serif", Arial, Helvetica, sans-serif !important;
        }

        .post-card-body {
            flex-grow: 1;
            line-height: 1.8;
            margin: 0;
            order: 2;
            color: #3e3f41;
            font-family: "Noto Serif", Arial, Helvetica, sans-serif !important;
            font-size: 18px;
        }

        .post-card-date {
            color: #054e5a;
            font-size: 1pc;
            font-weight: 600;
            letter-spacing: 1px;
            line-height: 1.5;
            margin: 0;
            order: 0;
            font-family: "Noto Serif", Arial, Helvetica, sans-serif !important;
        }

        .post-card-tags {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
            margin-bottom: 0;
            margin-top: 9pt;
            order: 3;
            font-family: "Noto Serif", Arial, Helvetica, sans-serif !important;
        }

        .post-tag {
            text-decoration: none;
            padding: 4px 9pt;
            background-color: transparent;
            border: 1px solid #054e5a;
            border-radius: 4px;
            color: #054e5a;
            display: inline-block;
            font-size: 16px;
            font-weight: 600;
            letter-spacing: .0625em;
            line-height: 1.5;
            text-transform: uppercase;
        }

        .post-link {
            text-decoration: none;
        }

    }

    .button-container {
        text-align: center;
        width: 100%;
        padding-bottom: 40px;
        padding-top: 40px;
        margin: 0;

        .button {
            align-items: center;
            background-color: transparent;
            border-radius: 4px;
            cursor: pointer;
            display: inline-flex;
            flex-direction: row-reverse;
            font-family: Noto Sans, Arial, Helvetica, sans-serif;
            font-size: 1pc;
            font-weight: 600;
            gap: 9pt;
            line-height: 1.8;
            min-height: 44px;
            outline-offset: 2px;
            overflow: hidden;
            padding: 0 20px;
            position: relative;
            text-transform: uppercase;
            z-index: 1;
            border: 1px solid #054e5a;
            color: #054e5a;
            text-decoration: none;
            transition: color .3s ease-in-out;
        }
    }
}