main .hero-container > div {
  max-width: unset;
  padding: 0;
}
  
main .hero-container {
  padding: 0;
}

.hero {
  position: relative;
  padding: 32px;
  min-height: 662px;
  display: grid;
}

.hero h1,.hero p {
  width: 100%;
  color: white;
  margin: 0;
}

.hero h1 {
  font-family:Noto Serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.33;
}
.hero p {
    font-size: 20px;
    line-height: 1.6;
}

@media (min-width: 1024px) {
  .hero h1 {
    font-size: 56px;
    letter-spacing: -1px;
    line-height: 1.14;
    width: 58%;
  }
  .hero p {
      font-size:24px;
      line-height: 1.8;
      width: 58%;
  }
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
  background-color: #000;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-mask-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .3)), to(#000));
  -webkit-mask-image: linear-gradient(90deg, rgba(0, 0, 0, .3), #000);
  mask-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .3)), to(#000));
  mask-image: linear-gradient(90deg, rgba(0, 0, 0, .3), #000);
  opacity: 1;
}
.hero >div:nth-child(2) >div {
  max-width: 1500px;
  margin: 0 auto;
  padding-inline: 30px;
}

.ds-nano .hero-wrapper h2{
  color: #fff;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 40px;
  margin-bottom: 20px;
  margin-top: 0;
  max-width: 612px;
  word-break: break-word;
}
.ds-nano .hero {
  padding: 200px 20px 236px;
  min-height: 50pc;
  box-sizing: border-box;
}
.hero >div:nth-child(2) >div {
  padding-inline: 0;
}
.ds-nano .hero ::before{
  background: linear-gradient(110.49deg, rgba(0, 36, 68, .69) 13.9%, rgba(5, 74, 117, 0) 90.75%);
  background-blend-mode: multiply;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -2;
}
@media (min-width: 1024px) {
  .ds-nano .hero-wrapper h2{
    font-size: 56px;
  }
}
