footer {
  padding: 2rem;
  background-color: var(--light-color);
  font-size: var(--body-font-size-s);
  background-image: linear-gradient(#fff, #e6edee 50px, #054e5a 0, #054e5a);
  padding-bottom: 48px;
  color: #fff;
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}
footer img {
  max-width: 164px;
  height: auto;
}
.footer >div{
  display: grid;
  -moz-column-gap: 34px;
  -webkit-column-gap: 34px;
  column-gap: 34px;
  grid-template-columns: minmax(auto, 32%) minmax(auto, 63%);
}
