body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow-x: hidden
}

:root {
    --mainColor: #003565!important;
    --borderBottomColor: #ccd7e0!important;
    --borderRightColor: #ccd7e0!important;
    --linkActiveColor: #fff!important;
    --linkColor: #003565!important
}

.ds-brand-positive {
    --mainColor: #fff;
    --linkActiveColor: #003565;
    --borderBottomColor: #ccd7e0;
    --borderRightColor: #ccd7e0
}

.ds-brand-negative {
    --linkActiveColor: #fff;
    --mainColor: #003565;
    --borderBottomColor: #ccd7e0;
    --borderRightColor: #ccd7e0
}

.h,.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
    color: #003565;
    font-family: Source Sans Pro,Arial,Helvetica,sans-serif;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 9pt
}

.h1,h1 {
    font-size: 28px
}

@media (min-width: 1024px) {
    .h1,h1 {
        font-size:2pc
    }
}

.h2,h2 {
    font-size: 36px
}

@media (min-width: 1024px) {
    .h2,h2 {
        font-size:30px
    }
}

.h3,h3 {
    font-size: 24px
}

@media (min-width: 1024px) {
    .h3,h3 {
        font-size:28px
    }
}

.h4,h4 {
    font-size: 22px
}

@media (min-width: 1024px) {
    .h4,h4 {
        font-size:26px
    }
}

.h5,h5 {
    font-size: 20px
}

@media (min-width: 1024px) {
    .h5,h5 {
        font-size:24px
    }
}

.h6,h6 {
    font-size: 18px
}

@media (min-width: 1024px) {
    .h6,h6 {
        font-size:20px
    }
}

.m-0 {
    margin: 0!important
}

.m-12 {
    margin: 3rem!important
}

.m-16 {
    margin: 4rem!important
}

.m-20 {
    margin: 5rem!important
}

.m-4 {
    margin: 1rem!important
}

.m-8 {
    margin: 2rem!important
}

.mx-0 {
    margin-left: 0!important;
    margin-right: 0!important
}

.mx-12 {
    margin-left: 3rem!important;
    margin-right: 3rem!important
}

.mx-16 {
    margin-left: 4rem!important;
    margin-right: 4rem!important
}

.mx-20 {
    margin-left: 5rem!important;
    margin-right: 5rem!important
}

.mx-4 {
    margin-left: 1rem!important;
    margin-right: 1rem!important
}

.mx-8 {
    margin-left: 2rem!important;
    margin-right: 2rem!important
}

.my-0 {
    margin-bottom: 0!important;
    margin-top: 0!important
}

.my-12 {
    margin-bottom: 3rem!important;
    margin-top: 3rem!important
}

.my-16 {
    margin-bottom: 4rem!important;
    margin-top: 4rem!important
}

.my-20 {
    margin-bottom: 5rem!important;
    margin-top: 5rem!important
}

.my-4 {
    margin-bottom: 1rem!important;
    margin-top: 1rem!important
}

.my-8 {
    margin-bottom: 2rem!important;
    margin-top: 2rem!important
}

.mb-0 {
    margin-bottom: 0!important
}

.mb-1 {
    margin-bottom: .25rem!important
}

.mb-12 {
    margin-bottom: 3rem!important
}

.mb-16 {
    margin-bottom: 4rem!important
}

.mb-20 {
    margin-bottom: 5rem!important
}

.mb-4 {
    margin-bottom: 1rem!important
}

.mb-6 {
    margin-bottom: 1.5rem!important
}

.mb-8 {
    margin-bottom: 2rem!important
}

.ml-0 {
    margin-left: 0!important
}

.ml-12 {
    margin-left: 3rem!important
}

.ml-16 {
    margin-left: 4rem!important
}

.ml-20 {
    margin-left: 5rem!important
}

.ml-4 {
    margin-left: 1rem!important
}

.ml-8 {
    margin-left: 2rem!important
}

.mr-0 {
    margin-right: 0!important
}

.mr-12 {
    margin-right: 3rem!important
}

.mr-16 {
    margin-right: 4rem!important
}

.mr-20 {
    margin-right: 5rem!important
}

.mr-4 {
    margin-right: 1rem!important
}

.mr-8 {
    margin-right: 2rem!important
}

.mt-0 {
    margin-top: 0!important
}

.mt-12 {
    margin-top: 3rem!important
}

.mt-16 {
    margin-top: 4rem!important
}

.mt-20 {
    margin-top: 5rem!important
}

.mt-4 {
    margin-top: 1rem!important
}

.mt-8 {
    margin-top: 2rem!important
}

a.button:any-link, button {
    background: #fff;
    border: 2px solid var(--mainColor);
    border-radius: 75pt;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
    color: var(--mainColor);
    cursor: pointer;
    display: inline-block;
    float: none;
    font-family: Source Sans Pro,Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: 700;
    height: 0;
    letter-spacing: .02em;
    min-height: 3pc;
    padding: 9pt 24px;
    position: relative;
    text-decoration: none;
    text-transform: inherit;
    -webkit-transition: border .3s ease-in-out,color .3s ease-in-out,background-color .3s ease-in-out,opacity .3s ease-in-out;
    transition: border .3s ease-in-out,color .3s ease-in-out,background-color .3s ease-in-out,opacity .3s ease-in-out;
    white-space: nowrap
}
a.button.primary {
    background-color: var(--mainColor);
    border: 2px solid var(--mainColor);
    color: #fff;
    line-height: 1;
}

a.button.primary:hover{
    background-color: #fff;
    color: var(--mainColor)
}
a.button.secondary{
    background-color: transparent;
    border: 2px solid var(--mainColor);
    color: var(--mainColor);
    line-height: 1;
}
a.button.secondary:hover{
    background-color: var(--mainColor);
    border-color: var(--mainColor);
    color: #fff
}
.ds-nano {
    margin: 0;
}
.ds-nano p {
    color: var(--mainColor);
    font-size: 20px;
    line-height: 1.6;
    font-family: Source Sans Pro,Arial,Helvetica,sans-serif;
}
.ds-nano .ds-brand-content-section-with-image.ds-brand-positive-bg {
    background-color: #defafe
}
.ds-nano .ds-brand-content-section-with-image.ds-brand-negative-bg {
    background: #003565;
}
.ds-nano .teaser.block {
    color: var(--mainColor);
    font-family: Source Sans Pro,Arial,Helvetica,sans-serif;
    position: relative;
    width: 100%
}

.ds-nano .ds-brand-content-section-with-image {
    border-radius: 0;
    padding: 40px 0 0
}

@media (width >= 900px) {
  .section > div {
    max-width: 1500px;
    margin: auto;
    padding-inline:30px;
  }
  .section.fullwidth > div {
    max-width:100%;
    padding:0;
  }
}
main .section.fullwidth{
  padding: 0;
}

.mx-auto {
    clear: both!important;
    float: none!important;
    margin-bottom: 0;
    margin-left: auto!important;
    margin-right: auto!important;
    margin-top: 0;
    width: 100%
}

@media (min-width: 1280px) {
    .mx-auto {
        max-width:80pc
    }
}

@media (min-width: 1478px) {
    .mx-auto {
        max-width:1478px
    }
}

@media (min-width: 768px) {
    .ds-nano .ds-brand-content-section-with-image {
        padding:106px 0
    }
}

@media (min-width: 1280px) {
    .ds-nano .ds-brand-content-section-with-image {
        border-radius:0 200px 0 0
    }
}

@media (min-width: 1680px) {
    .ds-nano .ds-brand-content-section-with-image {
        border-radius:0 25pc 0 0
    }
}
.ds-nano .ds-brand-positive * {
    color: #fff!important;
}

.ds-nano .ds-brand-negative * {
    color: #373d41!important;
}
